<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div style="text-align: center">
    <h1>{{message}}</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form>
                <fieldset>
                    <legend class="text-center">Veuillez entrer les informations de l'employer. <span class="req"><small>
                                important *</small></span></legend>

                    <div class="form-group">
                        <label for="firstName"><span class="req">* </span> Prénom: </label>
                        <input required type="text" [(ngModel)]="employee.firstName" name="firstName" id="txt"
                            class="form-control phone" maxlength="28" placeholder="{{employees.firstName}}" />
                    </div>

                    <div class="form-group">
                        <label for="lastName"><span class="req">* </span> Nom: </label>
                        <input class="form-control" type="text" [(ngModel)]="employee.lastName" name="lastName" id="txt" required
                            placeholder="{{employees.lastName}}" />
                        <div id="errFirst"></div>
                    </div>

                    <div class="form-group">
                        <label for="age"><span class="req">* </span> Age : </label>
                        <input class="form-control" type="text" [(ngModel)]="employee.age" name="age" id="txt"
                            placeholder="{{employees.age}}" required />
                        <div id="errLast"></div>
                    </div>

                    <div class="form-group">
                        <label for="number"><span class="req">* </span> Numéro: <small>Votre numéro de téléphone</small></label>
                        <input class="form-control" required type="text" [(ngModel)]="employee.number" name="number"
                        id="txt" placeholder="{{employees.number}}" />
                        <div class="status" id="status"></div>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-success" type="submit" name="submit_upd" value="Enregistrer" (click)="update(employees.id)">
                    </div>
                </fieldset>
            </form><!-- ends register form -->
            <!-- second for to fiter user-->
        </div><!-- ends col-6 -->

    </div>
</div>
